body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/images/background_1.jpg");
    background-color: rgba(0, 0, 0, 0.588);
    background-blend-mode: multiply;
    min-height: 400px;
    /* text-align: center;  */
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    color: transparent;
    text-align: center;
    
}

h1 span {
    -webkit-text-stroke: 1px white;
    padding: 5px;   
}

h1 span:has(~span:hover) {
    color: white;
}

h1 span:hover {
    color: white;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: -10px;
    color: wheat;
    opacity: 2px;
}
.searchbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 35px;
}
.searchbar form {
    position: relative;
    width: 20rem;
    background: #57bd84;
    border-radius: 0.7rem;
    justify-content: center;
}
.searchbar form input, .searchbar form button {
    height: 3rem;
    border: 0;
    color: #2f2f2f;
    font-size: 1.5rem;
}
.searchbar form input[type="search"] {
    outline: 0;
    width: 80%;
    background: #fff;
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
.searchbar form button {
   /* display: none;
    */
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background: #57bd84;
    border-radius: 0 0.7rem;
}
.searchbar form input:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 6rem);
}
.searchbar form input:not(:placeholder-shown) + button {
    display: block;
}
.searchbar form label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
